.number {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 0px;
    padding: 5px;
}

.nx {
    color: tomato;
    background-color: blue;
    border-radius: 20%;
}

.sym {
    color: rgb(7, 38, 53);
    background-color: rgb(255, 0, 200);
    border-radius: 20%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display {
    text-align: right;
    height: 40px;
    min-width: 225px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-weight: bold;
    background-color: aquamarine;
    margin: 5%;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.keypad {
    display: flex;
}

.eqlclear {
    width: 110px;
    height: 50px;
    margin: 5px;
    border: 0px;
    padding: 5px;
    color: rgb(117, 223, 241);
    background-color: rgb(56, 190, 3);
    border-radius: 10%;
    margin-bottom:50px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-weight: bold;
}


.main {
    width: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(119, 35, 35);
    margin: 5%;
    flex: 1 1 0;
    border-radius: 20%;
}

body {
    background-color: darkgray;
    align-content: center;
}